@media only screen and (max-width: 1025px) {
    
    .slider{
        width: 700px !important;
        height: 310px !important;

    }

    .nav2{
        display: flex !important;
        width: 100%;
        height: 120px;
        background: rgb(197, 74, 74);

    }

    .nav2 ul li{
        display: inline-block;
    }

}