@media only screen and (max-width: 1025px) {
    
    .slider{
        width: 800px !important;

    }

    .nav2{
        display: flex !important;
        width: 100%;
        height: 120px;
        background: rgb(197, 74, 74);

    }


}