@media only screen and (max-width: 1025px) {
    
    .slider{
        width: 700px !important;
        height: 310px !important;

    }


    #seta-menu{
        display: none !important;
    }

    #seta-menu2{
        display: none !important;
    }

    .nav2{
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
        background: rgb(197, 74, 74);

    }

    .nav2 ul li{
        display: inline-block;
    }

}

@media only screen and (max-width: 969px) {
    
    .slider{
        width: 700px !important;
        height: 310px !important;

    }


    #seta-menu{
        display: none !important;
    }

    #seta-menu2{
        display: none !important;
    }

    .nav2{
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
        background: rgb(197, 74, 74);

    }

    .nav2 ul li{
        display: inline-block;
    }

}

@media only screen and (max-width: 426px) {
    
    .slider{
        width: 700px !important;
        height: 310px !important;

    }


    #seta-menu{
        display: none !important;
    }

    #seta-menu2{
        display: none !important;
    }

    .nav2{
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
        background: rgb(197, 74, 74);

    }

    .nav2 ul li{
        display: inline-block;
    }

}