@media only screen and (max-width: 1025px) {
    
    .slider{
        width: 600px !important;
        height: auto !important;

    }

    .conteudo{
        flex:100%;
    }

    .navbar{
        display: none !important;

    }

    .menu-fantasma{
        display: none !important;
    }

    #seta-menu{
        display: none !important;
    }

    #seta-menu2{
        display: none !important;
    }

    

}
